*/*.aux
*/*.bbl
*/*.blg
*/*.log
*/*.o
*/*.out
*/*.pdf
*/.tags
*/Makefile.local
*/out
cs8803dc-project/cs8803dcfinal.bib
cs8803dc-project/cs8803dcfinal.tex
cs8803mca-proj3/easytest
cs8803mca-proj3/sim
cs8803mca-proj3/testtracea
cs8803mca-proj3/testtraceab
cs8803mca-proj3/testtraceb
cs8803ss-project/.cudahistory
cse6230-proj2/doyen
cse6230-proj2/matmul
cse6230-proj2/matmul-blas
cse6230-proj2/matmul-blocked64
cse6230-proj2/matmul-rec64
